html, body, #root {
  height: 100%;
  /* font-size: 20px; */
}

#root {
  display: flex;
  flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

footer.page-footer{
      flex-shrink: 0;
}
.hide {        /* наш клиент */
    display: none;
}

.navbar {
    padding: .5rem;
}

footer {
    color: #fff;
}

.text {
    padding: 20px;
    padding-top: 60px;
}


.button-list {
    list-style-type: none;
}

.button-list li {
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.active {            /*  класс для подсвечивания ссылки навигаций */
    color: red;
}

.row{
    background-color: gold;
    max-width: inherit;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row div{
    width: 70px;
    margin-left: 35px;
    font-size: 20px;
}

.main-form{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
}

.main-form2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.button{
    height: 48px;
    width: 85px;
    border: 1px solid #333;
    border-radius: 9px;
}

.button-3{
    height: 48px;
    width: 200px;
    border: 1px solid #333;
    border-radius: 9px;
    background-color: rgb(145, 145, 248);
}

.url{
    padding-top: 25px;
    padding-bottom: 20px;
}

.main-div{
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-top: 50px;
}

.block-1, .block-2{
   border: 2px solid gray;
   width: 200px;
   height: 55px;
   border-radius: 8px;
   background-color: rgb(189, 255, 189);
}

.block-2{
    margin-top: 10px;
}

.note{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 150px;
}

.message{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}